a {
    text-decoration: none;
}

hr {
    height: 2px;
    border-width: 0;
    margin: 0;
    background-color: rgba(255, 255, 255, .1);
}

.App {
    background-color: #282c34;
    min-height: 100vh;
}

:root {
    --gray-lt: rgba(255, 255, 255, .5);

}

.App-logo {
    height: 40vmin;
    margin-top: 100px;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.navbar {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding-left: 50px;
    background-color: #282c34;
}

.navbar .navitem {
    color: var(--gray-lt);
}

@media screen and (min-width: 350px) {
    .input-group {
        position: relative;
        margin: 1.25rem;
        width: 300px;
    }
  }

  @media screen and (min-width: 1000px) {
    .input-group {
        position: relative;
        margin-bottom: 1.25rem;
        width: 700px;
    }
  }


.text-input {
    display: block;
    height: 30px;
    width: 100%;
    padding: .875rem .875rem;
    border: 1px solid;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3125rem;
}

/* for text input and button combination*/
.input-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.text-input-label {
    display: block;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: .75rem;
}

.btn-start {
    display: inline-block;
    background-color: rosybrown;
    transition-duration: 0.3s;
    
}

.btn-start:hover {

}

.btn {
    position: relative;
    text-align: center;
    cursor: pointer;
}

.btn-lg {
    font-size: 1.38rem;
    font-weight: 600;
    height: 30px;
    width: 100px;
    padding: .875rem;
    margin-left: 2rem;
    border-radius: .3125rem;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}